adjust-cell-height = "62.5%"
adjust-cursor-height = "100%"
auto-update = "check"
background-blur-radius = 20
background-opacity = 0.875
cursor-opacity = 0.95
cursor-style-blink = true
desktop-notifications = true
font-family = "CommitMono Nerd Font Propo"
keybind = "global:super+grave_accent=toggle_quick_terminal"
macos-auto-secure-input = true
macos-option-as-alt = "left"
macos-secure-input-indication = true
minimum-contrast = 1.01
mouse-hide-while-typing = true
mouse-scroll-multiplier = 0.2
quick-terminal-position = "top"
theme = dark:crepuscular-dusk,light:crepuscular-dawn
window-colorspace = "display-p3"
window-padding-balance = true
window-padding-x = 12
window-padding-y = 12
window-theme = "auto"
window-vsync = true
